@import '../_variables.css';
@import '../_reset.css';

.input-container {
	font-size: 1.2rem;
	line-height: 2rem;
}

.input-container label {
	cursor: pointer;
	display: block;
	margin-bottom: 0.8rem;
}

.input-container input {
	display: block;
	min-width: 20rem;
	outline: 0;
	padding: 0.8rem;
	transition: border 0.2s ease-in;
	width: 60%;
}

input:focus {
	border: 2px solid var(--info-color);
}

.error {
	color: var(--danger-color);
}

.error input {
	border: 2px solid var(--danger-color);
}

.valid input {
	border: 2px solid var(--success-color);
}

.valid small {
	color: var(--success-color);
}

.inline-input {
	display: inline-block;
	margin: 0.8rem 1.6rem;
	width: 20rem;
}

/* radio and checkbox style */
.radio-container,
.checkbox-container {
	display: flex;
	align-items: center;
}

.radio-container label,
.radio-container input,
.checkbox-container label,
.checkbox-container input {
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 2rem;
}

.radio-container input,
.checkbox-container input {
	min-width: 0;
	width: 5rem;
	transform: scale(1.5);
}

.disabled label {
	color: var(--grey);
	cursor: not-allowed;
}

.disabled input {
	cursor: not-allowed;
}
