@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

:root {
	--doc-bg: #f7f7f7;
	--doc-primary: #d5262d;
	font-size: 62.5%; /* || Reset font size to 10px */
}

/* || Reset basic styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--doc-bg);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: unset;
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* || Common header styles same for all pages */

.main-header {
	align-items: center;
	background-color: inherit;
	box-shadow: 0 0 15px #9a9a9a;
	display: flex;
	left: 0;
	padding: 1.6rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.main-header > h1 {
	font-size: 3.2rem;
	line-height: 4rem;
}

.doc-menu {
	cursor: pointer;
	display: none;
	font-size: 2.4rem;
}

.main-header > nav {
	margin-left: auto;
}

.header-nav-list {
	display: flex;
	font-size: 1.6rem;
	list-style-type: none;
}

.header-nav-list > li {
	margin: 0 1.6rem;
}

main {
	margin-top: 7.2rem;
	padding: 1.6rem;
}

/* || Landing page styles */

.main-lp {
	align-items: center;
	display: flex;
	height: calc(100vh - 8rem);
	justify-content: center;
}

.hero-img-container {
	min-width: 25rem;
	width: 40%;
}

.hero-img-container img {
	display: block;
	width: 100%;
}

.main-lp-content {
	width: 35%;
}

.main-lp-content h2 {
	color: var(--doc-primary);
	font-size: 7.2rem;
	line-height: 8rem;
}

.main-lp-content p {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 1.6rem 0 2.4rem;
}

.main-lp-content a {
	background: var(--doc-primary);
	border: 1px solid var(--doc-primary);
	color: var(--doc-bg);
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
	transition: all 0.2s ease-in;
}

.main-lp-content a:hover {
	background: var(--doc-bg);
	border: 1px solid var(--doc-primary);
	color: var(--doc-primary);
	transition: all 0.2s ease-in;
}

/* || Landing Page responsive styles */

@media only screen and (max-width: 760px) {
	.main-lp {
		flex-direction: column;
	}

	.hero-img-container {
		margin-left: 12rem;
	}

	.main-lp-content {
		text-align: center;
		width: 70%;
	}
}

@media only screen and (max-width: 575px) {
	.backdrop {
		background: #00000050;
		cursor: pointer;
		display: none;
		height: calc(100vh - 7.2rem);
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.active {
		display: block;
	}

	.mobile-nav {
		background-color: var(--doc-bg);
		display: block;
		height: calc(100vh - 7.2rem);
		margin-top: 7.2rem;
		position: fixed;
		right: 0;
		top: 0;
		width: 40%;
		z-index: 3;
	}

	.main-header {
		justify-content: space-between;
	}

	.doc-menu {
		display: block;
	}

	.main-header nav {
		display: none;
	}

	.hero-img-container {
		margin-left: 8rem;
	}

	.mobile-nav li {
		margin: 1.6rem;
	}

	.main-lp-content h2 {
		font-size: 5.6rem;
	}
}

/* || Common style for main content */

.main {
	display: flex;
}

.main aside {
	flex-basis: 20rem;
	font-size: var(--text-md);
}

.main-nav > ul {
	color: var(--black);
	list-style: none;
	font-weight: 700;
	margin: 2.4rem 0 0 1.6rem;
}

.main-nav span {
	border-bottom: 1px solid var(--grey);
	padding-bottom: 0.8rem;
}

.main-nav-items {
	font-size: 1.4rem;
	font-weight: 400;
	margin-left: 1.6rem;
	padding: 0.8rem 0;
}

.main-nav-items:first-of-type {
	margin-top: 1.6rem;
}

.main-nav-items:last-of-type {
	margin-bottom: 1.6rem;
}

.inline-code {
	color: var(--black);
	border-radius: 5px;
	background: var(--lynx-grey);
	padding: 0.25rem;
}

.current-pg {
	color: var(--doc-primary);
}

.main-content {
	margin-top: 1.6rem;
	width: 75%;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	font-size: var(--text-md);
	margin: 2.4rem 0;
}

.next-pg:hover,
.previous-pg:hover {
	color: var(--doc-primary);
}

.next-pg i {
	margin-left: 0.8rem;
}

h3 {
	margin-top: 2.4rem;
}

.pg-p {
	padding: 1.6rem 0 2.4rem;
}

.pg-description,
.code-snippet {
	border-bottom: 2px solid var(--lynx-grey);
}

.last-snippet {
	border: 0;
}

.code-snippet {
	font-size: 1.4rem;
	padding: 0.4rem 0 2.4rem;
}

@media only screen and (max-width: 575px) {
	aside {
		display: none;
	}

	.main-content {
		width: 95%;
		margin: auto;
	}
}

/* || iframe hidden in devices below 575px width */

@media only screen and (max-width: 575px) {
	.code-snippet,
	iframe {
		display: none;
	}
}

/* || Installation page CSS */

.install-pg {
	display: flex;
	flex-direction: column;
	height: 56rem;
}

.install-pg > p {
	line-height: 3.2rem;
	margin: 3.2rem 0;
	width: 80%;
}

.install-pg .next-pg {
	margin-left: auto;
}

.install-pg .main-footer {
	margin-top: auto;
}

/* installation page responsive styles */

@media only screen and (max-width: 575px) {
	.install-pg h2 {
		font-size: var(--text-lg);
	}

	.install-pg p {
		margin: 2.4rem 0;
	}
}

/* || Alert Component Page */

.alert-example {
	width: 100%;
}

.alert-example .alert {
	margin: 2rem auto;
}

/* || Avatar component page */

.avatar-example {
	height: 12rem;
	margin: auto;
	width: 12rem;
}

.avatar-pg .code-snippet {
	padding: 2.4rem 0;
}

.sizes-example {
	text-align: center;
}

.sizes-example .avatar {
	margin: 0 0.8rem;
}

/* || Badge Component Page */

.badge-example {
	text-align: center;
}

.badge-example > .badge-container {
	margin: 0 0.8rem;
}

/* || Button Component Page */

.button-example {
	display: flex;
	flex-wrap: wrap;
}

.button-example button {
	margin: 0.8rem;
}

/* || Card Component Page */

.card-example .card {
	margin: auto;
}

.card-pg .code-snippet {
	padding-top: 2.4rem;
}

.card h3 {
	margin: 0;
}

/* || Colors Page */

.color-pg .colors-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2.4rem 0;
}

.color-example {
	align-items: center;
	border-radius: 1rem;
	box-shadow: 1px 1px 10px var(--lynx-grey);
	display: flex;
	font-size: var(--text-md);
	justify-content: center;
	height: 8rem;
	width: 8rem;
	margin: 1rem;
}

.single-clr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.single-clr .black-bg {
	color: var(--lynx-white);
}

.color-pg:last-of-type {
	padding-bottom: 2.4rem;
}

/* || Image Page Styles */

.image-example {
	display: flex;
	justify-content: center;
}

.image-pg .code-snippet {
	padding-top: 2.4rem;
}

.image-pg small {
	font-size: 1.2rem;
}

/* || Input page styles */

.input-example {
	width: 50%;
	margin: auto;
}

.input-example .input-container {
	margin: 2.4rem 0;
}

.input-example .radio-container {
	display: inline-block;
	margin: 0.8rem;
}

.input-example .checkbox-container {
	margin: 0.8rem;
}

@media only screen and (max-width: 575px) {
	.input-example {
		width: 80%;
	}
}

/* || Navbar page style */

.navbar-pg .code-snippet {
	padding-top: 2.4rem;
}

.navbar-example {
	text-align: center;
}

.header {
	margin: 8rem 0 16rem;
}

/* || Rating page style */

.rating-example {
	text-align: center;
}

.rating-example .rating-container {
	margin: 0.8rem 0;
}
