.input-container {
	line-height: 2rem;
	font-size: 1.2rem;
}

.input-container label {
	cursor: pointer;
	display: block;
	margin-bottom: 0.8rem;
}

.input-container input {
	min-width: 20rem;
	outline: 0;
	font-size: 1.4rem;
	padding: 0.8rem;
	transition: border 0.2s ease-in;
	width: 100%;
}

input:focus {
	border: 2px solid var(--info-color);
}

.error {
	color: var(--danger-color);
}

.error input {
	border: 2px solid var(--danger-color);
}

.valid input {
	border: 2px solid var(--success-color);
}

.valid small {
	color: var(--success-color);
}

/* radio and checkbox style */
.radio-container,
.checkbox-container {
	display: flex;
	align-items: center;
}

.radio-container label,
.radio-container input,
.checkbox-container label,
.checkbox-container input {
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 2rem;
}

.radio-container input,
.checkbox-container input {
	min-width: 0;
	width: 5rem;
	transform: scale(1.5);
}

.disabled label {
	color: var(--grey);
	cursor: not-allowed;
}

.disabled input {
	cursor: not-allowed;
}

.icon-input {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
}

.icon-input input {
	padding-left: 3%;
}
