<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<title>Feather UI | Avatar</title>
	</head>
	<body>
		<div class="backdrop"></div>
		<header class="main-header">
			<h1>Feather UI</h1>
			<i class="fas fa-bars doc-menu"></i>
			<nav>
				<ul class="header-nav-list">
					<li><a href="../../index.html">Home</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Contribute</a></li>
				</ul>
			</nav>
		</header>
		<main class="main">
			<aside>
				<nav class="main-nav">
					<ul>
						<span><a href="#">Getting Started</a></span>
						<li class="main-nav-items"><a href="../../installation.html">Installation</a></li>
						<li class="main-nav-items"><a href="#">Colors</a></li>
						<li class="main-nav-items"><a href="#">Text Utilities</a></li>
					</ul>
					<ul>
						<span><a href="#">Components</a></span>
						<li class="main-nav-items">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="main-nav-items current-pg"><a href="#">Avatar</a></li>
						<li class="main-nav-items"><a href="#">Badge</a></li>
						<li class="main-nav-items"><a href="#">Button</a></li>
						<li class="main-nav-items"><a href="#">Card</a></li>
						<li class="main-nav-items"><a href="#">Image</a></li>
						<li class="main-nav-items"><a href="#">Input</a></li>
						<li class="main-nav-items"><a href="#">Navigation</a></li>
						<li class="main-nav-items"><a href="#">Rating</a></li>
					</ul>
				</nav>
			</aside>
		</main>
		<!-- <h1>Avatar Component</h1>
		<img src="../../Assets/avatar-1.jpg" alt="user avatar" class="avatar avatar-lg" />
		<h2>Different sizes of avatar</h2>
		<img src="../../Assets/avatar-1.jpg" alt="user avatar" class="avatar avatar-lg" />
		<img src="../../Assets/avatar-1.jpg" alt="user avatar" class="avatar avatar-md" />
		<img src="../../Assets/avatar-1.jpg" alt="user avatar" class="avatar avatar-sm" /> -->
	</body>
</html>
