<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<title>Feather UI | Text Utilities</title>
	</head>
	<body>
		<div>
			<h1>This is Heading 1</h1>
			<h2>This is Heading 2</h2>
			<h3>This is Heading 3</h3>
			<h4>This is Heading 4</h4>
		</div>
		<div>
			<p>This is a paragraph</p>
		</div>
		<div>
			<small>This is small text</small>
		</div>
		<div><p class="grey-text">This is grey text</p></div>
		<div>
			<p class="align-left">This text is aligned to the left</p>
			<p class="align-center">This text is aligned to the center</p>
			<p class="align-right">This text is aligned to the right</p>
		</div>
	</body>
</html>
