<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<link rel="icon" type="image/x-icon" href="../../Assets/feather-ui.ico" />
		<title>Feather UI | Toast</title>
	</head>
	<body>
		<div class="toast left">
			<p>Can't send photo. Retry in 5 seconds.</p>
			<div class="toast-btn-container">
				<button>RETRY</button>
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="toast right">
			<p>Your photo has been archived.</p>
			<div class="toast-btn-container">
				<button>UNDO</button>
				<i class="fas fa-times"></i>
			</div>
		</div>
	</body>
</html>
