<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<link rel="icon" type="image/x-icon" href="../../Assets/feather-ui.ico" />
		<title>Feather UI | Toast</title>
	</head>
	<body>
		<div class="backdrop"></div>
		<header class="main-header">
			<h1><a href="../../index.html">Feather UI</a></h1>
			<i class="fas fa-bars doc-menu"></i>
			<ul class="header-nav-list">
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../Alert/alert.html">Documentation</a></li>
				<li><a href="https://github.com/kart-c/Feather-UI">Contribute</a></li>
			</ul>
		</header>
		<main class="main">
			<aside>
				<nav class="main-nav">
					<ul>
						<span><a href="../../installation.html">Getting Started</a></span>
						<li class="main-nav-items"><a href="../../installation.html">Installation</a></li>
						<li class="main-nav-items"><a href="../Colors/colors.html">Colors</a></li>
						<li class="main-nav-items"><a href="../Utilities/utility.html">Text Utilities</a></li>
					</ul>
					<ul>
						<span><a href="../Alert/alert.html">Components</a></span>
						<li class="main-nav-items">
							<a href="../Alert/alert.html">Alert</a>
						</li>
						<li class="main-nav-items"><a href="../Alert/alert.html">Avatar</a></li>
						<li class="main-nav-items"><a href="../Badge/badge.html">Badge</a></li>
						<li class="main-nav-items"><a href="../Button/button.html">Button</a></li>
						<li class="main-nav-items"><a href="../Card/card.html">Card</a></li>
						<li class="main-nav-items"><a href="../Grid/grid.html">Grid</a></li>
						<li class="main-nav-items"><a href="../Rating/rating.html">Image</a></li>
						<li class="main-nav-items"><a href="../Input/input.html">Input</a></li>
						<li class="main-nav-items"><a href="../List/list.html">List</a></li>
						<li class="main-nav-items"><a href="../Modal/modal.html">Modal</a></li>
						<li class="main-nav-items"><a href="../Navigation/navigation.html">Navigation</a></li>
						<li class="main-nav-items"><a href="../Rating/rating.html">Rating</a></li>
						<li class="main-nav-items current-pg"><a href="#">Toast</a></li>
					</ul>
				</nav>
			</aside>
			<section class="main-content toast-pg">
				<h2>Toast</h2>
				<p class="pg-description pg-p">
					The toast component is a non-disruptive message that appears at the bottom of the
					interface to provide quick, at-a-glance feedback on the outcome of an action.
				</p>
				<h3>Toast</h3>
				<p class="pg-p">To see the toast in action, press the following buttons.</p>
				<div class="toast-example">
					<button class="btn btn-primary left-toast-btn">Bottom Left Toast</button>
					<button class="btn btn-secondary right-toast-btn">Bottom Right Toast</button>
					<div class="toast left hide">
						<p>Can't send photo. Retry in 5 seconds.</p>
						<div class="toast-btn-container">
							<button>RETRY</button>
							<i class="fas fa-times"></i>
						</div>
					</div>
					<div class="toast right hide">
						<p>Your photo has been archived.</p>
						<div class="toast-btn-container">
							<button>UNDO</button>
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
				<div class="last-snippet code-snippet">
					<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fkart-c%2FCL-code-snippets%2Fblob%2Fmain%2Ftoast.html&style=vs2015&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
				</div>
				<small>
					<strong>Note:</strong> Javascript is required for functionality, this library only
					provides the CSS required.
				</small>

				<div class="main-footer">
					<a href="../Rating/rating.html" class="previous-pg">
						<i class="fas fa-arrow-left"></i> Rating
					</a>
				</div>
			</section>
		</main>
		<script src="../main.js"></script>
		<script src="../../app.js"></script>
	</body>
</html>
