@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

button {
	border: 0;
	background-color: #fff;
	cursor: pointer;
	outline: 0;
}

a {
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: var(--text-xxl);
	line-height: var(--line-ht-xxl);
}

h2 {
	font-size: var(--text-xl);
	line-height: var(--line-ht-xl);
}

h3 {
	font-size: var(--text-lg);
	line-height: var(--line-ht-lg);
}

h4 {
	font-size: var(--text-md);
	line-height: var(--line-ht-md);
}

p {
	font-size: var(--text-md);
	line-height: var(--line-ht-md);
}

small {
	font-size: 1rem;
	line-height: 1.8rem;
}
