<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<title>Feather UI | Navigation</title>
	</head>
	<body>
		<header class="header black-bg">
			<h2>Navbar</h2>
			<input type="search" name="search" class="header-search" placeholder="Search..." />
			<i class="fas fa-bars hamburger-menu"></i>
			<nav class="nav mobile-menu">
				<ul class="nav-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<header class="header black-bg">
			<h2>Navbar</h2>
			<ul class="nav-list pd-list">
				<li><a href="#">Product</a></li>
				<li><a href="#">Product</a></li>
				<li><a href="#">Product</a></li>
			</ul>
			<input type="search" name="search" class="header-search sm-input" placeholder="Search..." />
			<i class="fas fa-bars hamburger-menu"></i>
			<nav class="nav mobile-menu">
				<ul class="nav-list">
					<li>
						<a href="#"><i class="fas fa-user"></i> Profile</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-heart"></i> Wishlist</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-shopping-bag"></i> Bag</a>
					</li>
				</ul>
			</nav>
		</header>
		<script src="../../app.js"></script>
	</body>
</html>
