<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />

		<title>Badge</title>
	</head>
	<body>
		<h1>Badge on Avatar</h1>
		<div class="badge-container">
			<img src="../../Assets/avatar-2.jpg" alt="user avatar" class="avatar avatar-lg" />
			<span class="badge badge-online"></span>
		</div>
		<div class="badge-container">
			<img src="../../Assets/avatar-2.jpg" alt="user avatar" class="avatar avatar-md" />
			<span class="badge badge-offline"></span>
		</div>
		<div class="badge-container">
			<img src="../../Assets/avatar-2.jpg" alt="user avatar" class="avatar avatar-sm" />
			<span class="badge badge-dnd"></span>
		</div>
		<h1>Badge on Icon</h1>
		<div class="badge-container icon-lg">
			<i class="fas fa-shopping-bag"></i>
			<span class="icon-badge">6</span>
		</div>
		<div class="badge-container icon-lg">
			<i class="far fa-bell"></i>
			<span class="icon-badge">12</span>
		</div>
	</body>
</html>
