<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<title>Feather UI | Card</title>
		<style>
			body {
				padding: 1rem;
			}
			div {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
			}
			div > div {
				align-items: center;
				display: flex;
				font-size: var(--text-md);
				justify-content: center;
				height: 8rem;
				width: 8rem;
			}
			div > div {
				margin: 1rem;
				border-radius: 1rem;
				box-shadow: 1px 1px 10px var(--lynx-grey);
			}
		</style>
	</head>
	<body>
		<div>
			<div class="danger-bg">#f87171</div>
			<div class="warning-bg">#fbbf24</div>
			<div class="info-bg">#60a5fa</div>
			<div class="success-bg">#34d339</div>
			<div class="primary-bg">#ff3f6c</div>
			<div class="secondary-bg">#ff723f</div>
			<div class="lynx-white-bg">#f7f7f7</div>
			<div class="lynx-grey-bg">#c5c5c5</div>
			<div class="grey-bg">#9a9a9a</div>
			<div class="black-bg" style="color: #fff">#282828</div>
		</div>
	</body>
</html>
