<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/bbbaa28fd5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../main.css" />
		<link rel="stylesheet" href="../../style.css" />
		<title>Alert</title>
		<style>
			.alert {
				margin: 2rem;
			}
		</style>
	</head>
	<body>
		<div class="alert danger">
			<i class="fas fa-exclamation-triangle theme-icon"></i>
			<p>This is a danger alert—check it out!</p>
		</div>
		<div class="alert warning">
			<i class="fas fa-exclamation theme-icon"></i>
			<p>This is a warning alert—check it out!</p>
		</div>
		<div class="alert success">
			<i class="fas fa-check-circle theme-icon"></i>
			<p>This is a success alert—check it out!</p>
		</div>
		<div class="alert info">
			<i class="fas fa-info-circle theme-icon"></i>
			<p>This is a info alert—check it out!</p>
		</div>
		<div class="alert outline-danger">
			<i class="fas fa-exclamation-triangle theme-icon"></i>
			<p>This is a danger alert—check it out!</p>
		</div>
		<div class="alert outline-warning">
			<i class="fas fa-exclamation theme-icon"></i>
			<p>This is a warning alert—check it out!</p>
		</div>
		<div class="alert outline-success">
			<i class="fas fa-check-circle theme-icon"></i>
			<p>This is a success alert—check it out!</p>
		</div>
		<div class="alert outline-info">
			<i class="fas fa-info-circle theme-icon"></i>
			<p>This is a info alert—check it out!</p>
		</div>
		<div class="alert alert-cancel outline-danger">
			<div>
				<i class="fas fa-exclamation-triangle theme-icon"></i>
				<p>This is a danger alert—check it out!</p>
			</div>
			<i class="far fa-times-circle cancel-btn"></i>
		</div>
		<div class="alert alert-cancel outline-warning">
			<div>
				<i class="fas fa-exclamation theme-icon"></i>
				<p>This is a warning alert—check it out!</p>
			</div>
			<i class="far fa-times-circle cancel-btn"></i>
		</div>
	</body>
</html>
